@if (store.error()) {
  <p>{{ store.error() }}</p>
} @else {
  <p-table
    #dt
    [value]="sortedPersons()"
    selectionMode="single"
    dataKey="id"
    [selection]="selectedPerson()"
    (onRowSelect)="onRowSelect($event.data)"
    (onRowUnselect)="onRowUnselect()"
    [scrollable]="true"
    scrollHeight="flex"
    [tableStyle]="{ 'min-width': '50rem' }"
    [loading]="store.loading()"
    [globalFilterFields]="['firstName', 'lastName']"
  >
    <ng-template #caption>
      <div class="flex">
        <p-iconfield iconPosition="left" class="ml-auto">
          <p-inputicon>
            <i class="pi pi-search"></i>
          </p-inputicon>
          <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Suche..." />
        </p-iconfield>
      </div>
    </ng-template>
    <ng-template #header>
      <tr>
        <th>Name</th>
        <th>Geschlecht</th>
        <th>Geburtsdatum</th>
        <th>Sterbedatum</th>
      </tr>
    </ng-template>
    <ng-template #body let-person>
      <tr [pSelectableRow]="person">
        <td>{{ person.firstName }} {{ person.lastName }}</td>
        <td>{{ person.gender | gender }}</td>
        <td>{{ person.birthDate | fuzzyDate }}</td>
        <td>{{ person.deathDate | fuzzyDate }}</td>
      </tr>
    </ng-template>
  </p-table>
}
