@if (store.error()) {
  <p>{{ store.error() }}</p>
} @else {
  <p-table #dt [value]="store.persons()" [tableStyle]="{ 'min-width': '50rem' }" [loading]="store.loading()" [globalFilterFields]="['firstName', 'lastName']">
    <ng-template #caption>
      <div class="flex">
        <p-iconfield iconPosition="left" class="ml-auto">
          <p-inputicon>
            <i class="pi pi-search"></i>
          </p-inputicon>
          <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Suche..." />
        </p-iconfield>
      </div>
    </ng-template>
    <ng-template #header>
      <tr>
        <th>Name</th>
        <th>Geschlecht</th>
        <th>Geburtsdatum</th>
        <th>Sterbedatum</th>
        <th style="width: 4rem"></th>
      </tr>
    </ng-template>
    <ng-template #body let-person>
      <tr [class.row-selected]="selectedPersonId() === person.id">
        <td>{{ person.firstName }} {{ person.lastName }}</td>
        <td>{{ person.gender | gender }}</td>
        <td>{{ person.birthDate | fuzzyDate }}</td>
        <td>{{ person.deathDate | fuzzyDate }}</td>
        <td>
          <p-button
            icon="pi pi-info-circle"
            severity="secondary"
            [rounded]="true"
            [text]="true"
            (onClick)="sidePanelService.open({ type: 'person-detail', personId: person.id })"
          />
        </td>
      </tr>
    </ng-template>
  </p-table>
}
