<p-confirmDialog />

<div class="welcome">
  <h1>Stammbaum</h1>

  @if (storedUser(); as user) {
    <p>Willkommen zurück {{ user.firstName }} {{ user.lastName }}</p>
    <p-button label="Zum Editor" (onClick)="goToEditor()" />
  } @else {
    <input
      pInputText
      class="welcome__input"
      placeholder="Benutzername"
      [(ngModel)]="userName"
    />
    <p-password
      class="welcome__input"
      placeholder="Passwort"
      [(ngModel)]="password"
      [feedback]="false"
      (keyup.enter)="login()"
    />

    <p-button
      label="Anmelden"
      [disabled]="!userName().trim() || !password().trim()"
      [loading]="loading()"
      (onClick)="login()"
    />
  }
</div>
