<p-confirmpopup #residenceConfirm>
  <ng-template #headless let-message>
    <div class="confirm-popup">
      <span>{{ message.message }}</span>
      <div class="confirm-popup__actions">
        <p-button label="Ja, löschen" size="small" severity="danger" (onClick)="residenceConfirm.onAccept()" />
        <p-button label="Abbrechen" size="small" severity="secondary" [outlined]="true" (onClick)="residenceConfirm.onReject()" />
      </div>
    </div>
  </ng-template>
</p-confirmpopup>
<p-menu #menu [model]="menuItems" [popup]="true" appendTo="body" />
<ng-template #residenceTooltip>
  <strong class="dot-tooltip__year">{{ residence().street }}</strong>
  <hr class="dot-tooltip__divider" />
  <div class="dot-tooltip__event">Beginn: {{ residence().startDate | fuzzyDate }}</div>
  <div class="dot-tooltip__event">Ende: {{ residence().endDate | fuzzyDate }}</div>
  @if (residence().notes) {
    <div class="dot-tooltip__event">{{ residence().notes }}</div>
  }
  @if (movedToResidence()) {
    <hr class="dot-tooltip__divider" />
    <div class="dot-tooltip__event">Umzug nach: {{ movedToResidence()!.street }}</div>
  }
</ng-template>
<span
  class="residence-address"
  [pTooltip]="residenceTooltip"
  tooltipPosition="top"
  tooltipStyleClass="dot-tooltip"
>{{ formatAddress() }}</span>
<span #confirmAnchor class="confirm-anchor">
  <p-button icon="pi pi-ellipsis-v" [text]="true" size="small" severity="secondary" (onClick)="openMenu(menu, $event, confirmAnchor)" />
</span>
