@if (relationsStore.error()) {
  <p>{{ relationsStore.error() }}</p>
} @else {
  <p-table [value]="filteredRelations()" [scrollable]="true" scrollHeight="flex" [tableStyle]="{ 'min-width': '50rem' }" [loading]="relationsStore.loading()">
    <ng-template #caption>
      <div class="flex">
        <p-iconfield iconPosition="left" class="ml-auto">
          <p-inputicon>
            <i class="pi pi-search"></i>
          </p-inputicon>
          <input pInputText type="text" (input)="searchTerm.set($any($event.target).value)" placeholder="Suche..." />
        </p-iconfield>
      </div>
    </ng-template>
    <ng-template #header>
      <tr>
        <th>Person A</th>
        <th>Typ</th>
        <th>Person B</th>
        <th>Von</th>
        <th>Bis</th>
        <th style="width: 4rem"></th>
      </tr>
    </ng-template>
    <ng-template #body let-relation>
      <tr [class.row-selected]="selectedRelationId() === relation.id">
        <td>{{ relation.personA?.firstName }} {{ relation.personA?.lastName }}</td>
        <td>{{ relation.type | relationType }}</td>
        <td>{{ relation.personB?.firstName }} {{ relation.personB?.lastName }}</td>
        <td>{{ relation.startDate | fuzzyDate }}</td>
        <td>{{ relation.endDate | fuzzyDate }}</td>
        <td>
          <p-button
            icon="pi pi-info-circle"
            severity="secondary"
            [rounded]="true"
            [text]="true"
            (onClick)="sidePanelService.open({ type: 'relation-detail', relationId: relation.id })"
          />
        </td>
      </tr>
    </ng-template>
  </p-table>
}
