<div class="side-panel__content">
  <div class="side-panel__scrollable">
    @for (view of locationViews(); track view.address) {
      <div class="location-section">
        <p class="side-panel__address">{{ view.address }}</p>
        <ul class="person-list">
          @for (entry of view.persons; track entry.person.id) {
            <li class="person-item" (click)="openPersonDetail(entry.person.id, entry.residenceId)">
              <span class="person-item__name">{{ entry.person.firstName }} {{ entry.person.lastName }}</span>
              <i class="pi pi-chevron-right"></i>
            </li>
          }
        </ul>
      </div>
    }
  </div>
</div>
